In [50]:
import sys, os
import pandas as pd
import numpy as np
import glob
import pickle
from functools import reduce
from sklearn.decomposition import PCA
from sklearn.externals import joblib

In [ ]:
fastq = sys.argv[1]
ref_location = sys.argv[2]

In [52]:
fastq = 'Cp66_S16_L001'

In [ ]:
#변환과정
os.system('bwa mem -t 20 %s %s_1.fastq %s_2.fastq -o ./Downloads/%s.sam'%(ref_location,fastq, fastq, fastq))
os.system('samtools fixmate -O bam ./Downloads/%s.sam ./Downloads/%s.bam'%(fastq, fastq))
os.system('sambamba sort -t  40 -o ./Downloads/%s.sort.bam ./Downloads/%s.bam --tmpdir ./Downloads/tmp'%(fastq, fastq))

#os.system('rm %s_*.fastq'%(fastq))

os.system('bcftools mpileup -Ob -o ./Downloads/%s.bcf -f %s ./Downloads/%s.sort.bam'%(fastq, ref_location, fastq))
os.system('bcftools call -vmO z -o ./vcf_files/%s.vcf.gz ./Downloads/%s.bcf'%(fastq, fastq))

os.system('zcat ./vcf_files/%s.vcf.gz | grep -v \'##\' > ./vcf_files/%s.vcf.grep'%(fastq,fastq))

In [51]:
#ncbi_sample = pd.read_csv('./vcf_files/%s.vcf.grep'%(fastq), sep = '\t')

In [4]:
ncbi_sample = pd.read_csv('./vcf_files/sample.vcf.grep', sep = '\t')

In [83]:
ncbi_sample.head()

,#CHROM,POS,ID,REF,ALT,QUAL,FILTER,INFO,FORMAT,Cp66_S16_L001
0,NC_008261.1,452,.,C,T,225.0,.,DP=255;VDB=0.667341;SGB=-0.693147;MQSB=1;MQ0F=...,GT:PL,"1/1:255,255,0"
1,NC_008261.1,488,.,C,T,225.0,.,DP=251;VDB=0.0442404;SGB=-0.693147;MQSB=1;MQ0F...,GT:PL,"1/1:255,255,0"
2,NC_008261.1,506,.,T,C,225.0,.,DP=251;VDB=0.0398998;SGB=-0.693147;MQSB=1;MQ0F...,GT:PL,"1/1:255,255,0"
3,NC_008261.1,573,.,T,C,225.0,.,DP=250;VDB=0.0896192;SGB=-0.693147;MQSB=1;MQ0F...,GT:PL,"1/1:255,255,0"
4,NC_008261.1,842,.,T,C,225.0,.,DP=251;VDB=0.128003;SGB=-0.693147;MQSB=1;MQ0F=...,GT:PL,"1/1:255,255,0"

In [91]:
set([x.split(':')[0].split('/')[1] for x in set(ncbi_sample['Cp66_S16_L001'])])

{'1', '2'}

In [56]:
ncbi_sample.columns = ncbi_sample.columns[0:9].tolist() + [fastq]

--------------------------------

In [104]:
def matrix_REF(x):
    allele = np.array([x['REF']] + x['ALT'].split(','))
    gt_list_REF = x[c_gt]
    def change_REF(i):
        try:
            ix = list(map(int,i.split(':')[0].split('/')[1]))
            return ''.join(allele[ix])
        except ValueError:
            return 'N'
    return [change_REF(i) for i in gt_list_REF]

c_gt_REF    = ncbi_sample_snp.columns[9:]
gt_list_REF = ncbi_sample_snp.apply(matrix_REF,axis=1)
gt_list_REF = np.stack(gt_list_REF)

snp_INFO = pd.DataFrame(gt_list_REF, index=ncbi_sample_snp['#CHROM'], columns = [fastq])
snp_INFO['POS'] = np.array(ncbi_sample_snp['POS'])

snp_INFO.to_csv('%s.csv'%fastq)

In [102]:
pd.read_csv('Cp66_S16_L001.csv')

            #CHROM Cp66_S16_L001      POS
0      NC_008261.1             T      452
1      NC_008261.1             T      488
2      NC_008261.1             C      506
3      NC_008261.1             C      573
4      NC_008261.1             C      842
5      NC_008261.1             T     1361
6      NC_008261.1             C     1739
7      NC_008261.1             C     1909
8      NC_008261.1             G     2020
9      NC_008261.1             G     2384
10     NC_008261.1             C     2450
11     NC_008261.1             G     2681
12     NC_008261.1             T     2729
13     NC_008261.1             G     2783
14     NC_008261.1             T     3376
15     NC_008261.1             T     5489
16     NC_008261.1             C     6101
17     NC_008261.1             G     6389
18     NC_008261.1             T     7348
19     NC_008261.1             G     7613
20     NC_008261.1             T     7619
21     NC_008261.1             G     8124
22     NC_008261.1             G     8194
23     NC_008261.1             T     8225
24     NC_008261.1             G     8270
25     NC_008261.1             C     8282
26     NC_008261.1             C     8627
27     NC_008261.1             G     8810
28     NC_008261.1             T     8819
29     NC_008261.1             T     8987
...            ...           ...      ...
29483  NC_008261.1             G  3245188
29484  NC_008261.1             A  3245233
29485  NC_008261.1             C  3245257
29486  NC_008261.1             A  3245272
29487  NC_008261.1             G  3245362
29488  NC_008261.1             C  3245365
29489  NC_008261.1             C  3245533
29490  NC_008261.1             T  3245536
29491  NC_008261.1             T  3245549
29492  NC_008261.1             G  3245668
29493  NC_008261.1             T  3245741
29494  NC_008261.1             T  3245856
29495  NC_008261.1             A  3246199
29496  NC_008261.1             A  3246260
29497  NC_008261.1             G  3246374
29498  NC_008261.1             A  3246414
29499  NC_008261.1             C  3246523
29500  NC_008261.1             C  3246716
29501  NC_008261.1             T  3246725
29502  NC_008261.1             G  3246800
29503  NC_008261.1             T  3246930
29504  NC_008261.1             A  3246934
29505  NC_008261.1             G  3247109
29506  NC_008261.1             T  3247910
29507  NC_008261.1             A  3248099
29508  NC_008261.1             C  3249361
29509  NC_008261.1             C  3254329
29510  NC_008261.1             T  3254411
29511  NC_008261.1             G  3256282
29512  NC_008261.1             A  3256518

[29513 rows x 3 columns]

In [57]:
m_snp = ncbi_sample['INFO'].apply(lambda x : x.split(';')[0] != 'INDEL')
ncbi_sample_snp = ncbi_sample[m_snp]

In [58]:
def matrix(x):
    allele = np.array([x['REF']] + x['ALT'].split(','))
    gt_list = x[c_gt]
    def change(i):
        try:
            ix = list(map(int,i.split(':')[0].split('/')))
            return ''.join(allele[ix])
        except ValueError:
            return 'NN'
    return [change(i) for i in gt_list]

c_gt    = ncbi_sample_snp.columns[9:]
gt_list = ncbi_sample_snp.apply(matrix,axis=1)
gt_list = np.stack(gt_list)

In [59]:
#pos 지정 => index 맞추기 작업
pos = np.add(np.add(ncbi_sample_snp['#CHROM'],'_'),ncbi_sample_snp['POS'].astype(str)).values
ncbi_gt_mat = pd.DataFrame(gt_list, index=pos, columns = [fastq])

In [69]:
ncbi_gt_mat_test = pd.DataFrame(gt_list, index=ncbi_sample_snp['#CHROM'], columns = [fastq])

In [71]:
ncbi_gt_mat_test.head()

            Cp66_S16_L001
#CHROM
NC_008261.1            TT
NC_008261.1            TT
NC_008261.1            CC
NC_008261.1            CC
NC_008261.1            CC

In [80]:
ncbi_gt_mat_test['POS'] = np.array(ncbi_sample_snp['POS'])

In [79]:
np.array(ncbi_sample_snp['POS'])

array([    452,     488,     506, ..., 3254411, 3256282, 3256518])

In [81]:
ncbi_gt_mat_test

            Cp66_S16_L001      POS
#CHROM
NC_008261.1            TT      452
NC_008261.1            TT      488
NC_008261.1            CC      506
NC_008261.1            CC      573
NC_008261.1            CC      842
NC_008261.1            TT     1361
NC_008261.1            CC     1739
NC_008261.1            CC     1909
NC_008261.1            GG     2020
NC_008261.1            GG     2384
NC_008261.1            CC     2450
NC_008261.1            GG     2681
NC_008261.1            TT     2729
NC_008261.1            GG     2783
NC_008261.1            TT     3376
NC_008261.1            TT     5489
NC_008261.1            CC     6101
NC_008261.1            GG     6389
NC_008261.1            TT     7348
NC_008261.1            GG     7613
NC_008261.1            TT     7619
NC_008261.1            GG     8124
NC_008261.1            GG     8194
NC_008261.1            TT     8225
NC_008261.1            GG     8270
NC_008261.1            CC     8282
NC_008261.1            CC     8627
NC_008261.1            GG     8810
NC_008261.1            TT     8819
NC_008261.1            TT     8987
...                   ...      ...
NC_008261.1            GG  3245188
NC_008261.1            AA  3245233
NC_008261.1            CC  3245257
NC_008261.1            AA  3245272
NC_008261.1            GG  3245362
NC_008261.1            CC  3245365
NC_008261.1            CC  3245533
NC_008261.1            TT  3245536
NC_008261.1            TT  3245549
NC_008261.1            GG  3245668
NC_008261.1            TT  3245741
NC_008261.1            TT  3245856
NC_008261.1            AA  3246199
NC_008261.1            AA  3246260
NC_008261.1            GG  3246374
NC_008261.1            AA  3246414
NC_008261.1            CC  3246523
NC_008261.1            CC  3246716
NC_008261.1            TT  3246725
NC_008261.1            GG  3246800
NC_008261.1            TT  3246930
NC_008261.1            AA  3246934
NC_008261.1            GG  3247109
NC_008261.1            TT  3247910
NC_008261.1            AA  3248099
NC_008261.1            CC  3249361
NC_008261.1            CC  3254329
NC_008261.1            TT  3254411
NC_008261.1            GG  3256282
NC_008261.1            AA  3256518

[29513 rows x 2 columns]

In [60]:
ncbi_gt_mat.head()

                Cp66_S16_L001
NC_008261.1_452            TT
NC_008261.1_488            TT
NC_008261.1_506            CC
NC_008261.1_573            CC
NC_008261.1_842            CC

In [32]:
#standard_mat = pd.read_csv('./Kor_Soybean.csv')
#selected_pos = standard_mat['pos'].values
#dic_fill = dict(zip(standard_mat['pos'],standard_mat['Gmax_275_ref']))
dic_fill = pickle.load(open("./pk_files/pos.pk", "rb"))

In [34]:
selected_pos = np.array(list(dic_fill.keys()))

In [35]:
df_ncbi_gt_mat_selected = ncbi_gt_mat.loc[selected_pos].T.fillna(value=dic_fill).T

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:1: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  """Entry point for launching an IPython kernel.

In [36]:
def seq_convert(x):
    dicN = {'A':'1','T':'2','G':'3','C':'4','N':'0'}
    gt = list(x)
    gt.sort()
    result = ''.join([dicN[i] for i in x])
    return int(result,5)
seq_convert_vec = np.vectorize(seq_convert)
ncbi_seq_vec = seq_convert_vec(np.stack(df_ncbi_gt_mat_selected.values))
df_ncbi_vec = pd.DataFrame(ncbi_seq_vec, columns=df_ncbi_gt_mat_selected.columns)

In [61]:
#pca 
pca = joblib.load('./pk_files/c_perfringens.pca .pkl')
add_data = pca.transform(df_ncbi_vec.T)
add_mat = pd.DataFrame(add_data, index= [fastq])
add_mat.columns = [str(x) for x in add_mat.columns]
add_mat = add_mat.reset_index()

/usr/local/lib/python3.5/dist-packages/sklearn/base.py:311: UserWarning: Trying to unpickle estimator PCA from version 0.20.0 when using version 0.19.2. This might lead to breaking code or invalid results. Use at your own risk.
  UserWarning)

In [39]:
add_mat

,index,0,1,2,3,4,5,6,7,8,...,10,11,12,13,14,15,16,17,18,19
0,Cp66_S16_L001,-793.434756,-704.442782,82.122387,876.102544,166.413886,-21.621304,221.746812,5.109536,191.393273,...,-427.274557,205.647797,251.713543,-140.140314,-203.461131,145.647208,-155.016071,153.878889,-66.762457,-31.865145

In [62]:
pre_mat_pca = pd.read_pickle('./pk_files/standard_pca_mat.pk')
add_mat.to_pickle('./mat_list/%s.pk'%(fastq))

In [63]:
pre_mat_pca.head()

,index,0,1,2,3,4,5,6,7,8,...,10,11,12,13,14,15,16,17,18,19
0,NY82541265;Leftover_Prime_Rib,-1131.077768,619.441909,-93.140842,-64.120713,-183.821588,1368.057636,202.859073,101.287953,-25.595699,...,213.749160,184.869857,-198.644242,92.009484,265.073588,-152.595743,18.032964,-16.886509,104.112778,317.581428
1,NY82544348;Steamship_Prime_Rib,-1097.961281,2001.626774,-486.137876,-84.120872,197.485115,-542.576138,-29.238807,58.172124,109.765264,...,18.923276,39.571887,9.611422,34.671156,20.943573,10.444268,-6.939884,22.396785,17.330522,25.045186
2,NY82581450;Gravy,2275.721846,394.496648,1773.413203,31.260281,-26.621325,3.453676,18.969532,-72.794547,63.427160,...,-259.182997,-755.211986,166.633795,85.283011,204.876801,-8.594487,-29.258030,-297.735967,1056.472155,-337.381644
3,NY82541376;Mashed_Potatoes,2243.869095,383.830801,1669.650070,-20.644475,-24.519416,-41.732479,-5.588966,-49.846665,10.927990,...,-91.742553,-103.808632,37.127728,-37.681116,45.963419,-33.428539,1.323874,93.133346,-404.974689,127.430132
4,NY82544264;Steamship_Prime_Rib,-1101.992467,742.150268,-226.576568,-142.114009,155.050739,1851.311882,291.358819,299.376030,188.630385,...,69.047172,409.821854,-55.283377,241.704813,344.894946,-84.560176,-27.230837,196.799528,15.912799,120.213928

In [49]:
matrix_list = glob.glob('./mat_list/*')
df_list = [pd.read_pickle(x) for x in matrix_list]
add_total_mat = reduce(lambda a,b : a.append(b), df_list)
output_mat = pre_mat_pca.append(add_total_mat)
output_mat.to_csv('./django_vcf/static/output_pca_mat.csv', index=False)

In [64]:
output_mat['index']

0                NY82541265;Leftover_Prime_Rib
1               NY82544348;Steamship_Prime_Rib
2                             NY82581450;Gravy
3                   NY82541376;Mashed_Potatoes
4               NY82544264;Steamship_Prime_Rib
5               NY82544306;Steamship_Prime_Rib
6                      NY82539716;Mexican_Corn
7                        NY82540322;Roast_Beef
8                           NY82540082;chicken
9                NY82541080;Chicken_Taco_Salad
10                     NY82540577;Corn_I_(Cup)
11                        NY82540943;Prime_Rib
12                   NY82540655;Corn_II_(Tray)
13                      NY82539841;Pulled_Pork
14                            NY84141151;stool
15                            NY84159705;stool
16                            NY84141319;stool
17                            NY84149594;stool
18                            NY84140474;stool
19                            NY84139829;stool
20                            NY84139692;stool
21                            NY83906550;blood
22                            NY84136597;stool
23                            NY83905351;blood
24                            NY83890009;stool
25                            NY84139156;stool
26                            NY83909308;wound
27                            NY83901777;stool
28                            NY83906307;stool
29                            NY83906252;stool
                        ...
97                16SBCL621;Vegetables,_Hanout
98               16SBCL1589;Vegetable,_spicies
99                               16SBCL1142;ND
100            16SBCL1344;Poultry,_turkey_meat
101                                17SBCL67;ND
102          16SBCL1126;Poultry,_minced_turkey
103           16SBCL608;Vegetables,_white_bean
104                      17SBCL79;Bovine,_veal
105                      17SBCL85;Bovine,_veal
106                 16SBCL563;Pork_meat_dishes
107                      16SBCL577;Minced_Pork
108           16SBCL605;Vegetables,_white_bean
109           16SBCL609;Vegetables,_white_bean
110              16SBCL945;Poultry_meat_dishes
111                 16SBCL106;Vegetables_sauce
112            16SBCL584;Poultry,_mixed_turkey
113                 16SBCL565;Pork_meat_dishes
114                       16SBCL538;vegetables
115              16SBCL1592;Vegetable,_spicies
116    16SBCL1078;Poultry,_turkey_mixed_dishes
117    16SBCL1081;Poultry,_turkey_mixed_dishes
118              16SBCL572;Salades,_vegetables
119                      16SBCL578;Minced_Pork
120              16SBCL571;Spicies,_vegatables
121                               16SBCL816;ND
122           17SBCL335;Vegetables,_white_bean
123                       16SBCL629;Beef,_meat
124                 16SBCL600;Poultry,_sausage
125                               16SBCL610;ND
0                                Cp66_S16_L001
Name: index, Length: 127, dtype: object